<div class="wrapper">
  <div class="row between-lg middle-lg">
    <div class="col-lg">
      <h1>Assets Map</h1>
    </div>
    <div class="col-lg">
      <div class="row end-lg">
        <div class="search-box">
          <mat-form-field class="example-form-field">
            <mat-label>Search asset</mat-label>
            <input matInput type="text" [(ngModel)]="searchModel" (ngModelChange)="updateSearchModel($event)">
          </mat-form-field>
          
          <button mat-raised-button color="primary" class="add" (click)="openDialog()">Add Asset</button>
        </div>
        
      </div>
      
    </div>
  </div>
</div>
<div class="wrapper">
  <div class="row">
    <div class="col-lg-6">
      <!-- <app-map></app-map> -->
    </div>
    <div class="col-lg-6">
      <app-tracks></app-tracks>
    </div>
  </div>
</div>
